[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyinstaller = "==3.6"
pyqt5 = "==5.15.2"
pyqt5designer = "==5.14.1"
psutil = "==5.8.0"

[requires]
python_version = "3.9"
